@model FinalProject.Models.History

<h4 style="font-family: Verdana, Times, serif; color: #5C5A5A; margin-left: 1em;">@ViewBag.FirstName @ViewBag.LastName</h4> <br/>
<form asp-action="AddProcPatient" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <br/>
        <input type="hidden" asp-for="PatientId" />
        <div class="col-sm-6">
            <label asp-for="Complaints">Жалобы пациента: </label>
            <textarea type="text" class="form-control" rows="5" asp-for="Complaints"></textarea>
            <span asp-validation-for="Complaints" />
        </div>
        <div class="col-sm-6">
            <label asp-for="Anamnesis">Анамнез: </label>
            <textarea type="text" class="form-control" rows="5" asp-for="Anamnesis"></textarea>
            <span asp-validation-for="Anamnesis" />
        </div>
        <div class="col-sm-6">
            <label asp-for="Inspection">Результаты осмотра: </label>
            <textarea type="text" class="form-control" rows="5" asp-for="Inspection"></textarea>
            <span asp-validation-for="Inspection" />
        </div>
        <div class="col-sm-6">
            <label asp-for="Treatment">Лечение: </label>
            <textarea type="text" class="form-control" rows="5" asp-for="Treatment"></textarea>
            <span asp-validation-for="Treatment" />
        </div>
        <div class="col-sm-6">
            <label asp-for="Conclusion">Заключение: </label>
            <textarea type="text" class="form-control" rows="5" asp-for="Conclusion"></textarea>
            <span asp-validation-for="Conclusion" />
        </div> 

       <br />
                </div>
        <div class="btn-margin">
            <input type="submit" class="btn btn-light" style="margin-left: 1em;" value="Отправить"/>
            <input style="margin-left: 1em;" class="btn btn-light" type="reset" value="Очистить" />
            <a class="btn" asp-controller="Account" asp-action="Index">Назад</a>
        </div>

</form>