
@model FinalProject.Models.Doctor

<h4 style="font-family: Verdana, Times, serif; color: #5C5A5A; margin-left: 1em;">Добавление нового врача</h4> <br/>
<form asp-action="FillDoctorInfo" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="col-sm-3">
            <label asp-for="FirstName">Введите имя: </label>
            <input type="text" class="form-control" asp-for="FirstName"/>
            <span asp-validation-for="FirstName" />
        </div>
        <div class="col-sm-3">
            <label asp-for="LastName">Введите фамилию: </label>
            <input type="text" class="form-control" asp-for="LastName"/>
            <span asp-validation-for="LastName" />
        </div>
        <div class="col-sm-3">
            <label asp-for="MiddleName">Введите отчество: </label>
            <input type="text" class="form-control" asp-for="MiddleName"/>
            <span asp-validation-for="MiddleName" />
        </div>
        <div class="col-sm-3">
            <label asp-for="Address">Введите адрес: </label>
            <input type="text" class="form-control" asp-for="Address"/>
            <span asp-validation-for="Address" />
        </div>
        <div class="col-sm-3">
            <label asp-for="DateOfBirth">Введите дату рождения: </label>
            <input type="date" placeholder="dd/mm/yyyy" class="form-control" asp-for="DateOfBirth"/>
            <span asp-validation-for="DateOfBirth" />
        </div>
        <div class="col-sm-3">
            <label asp-for="PassportNumber">Введите номер паспорта:  </label>
            <input type="text" class="form-control" asp-for="PassportNumber"/>
            <span asp-validation-for="PassportNumber" />
        </div>
<br />
                </div>
        <div class="btn-margin">
            <input style="margin-left: 1em;" type="submit" class="btn btn-info" value="Отправить"/><a/>
            <input style="margin-left: 1em;" class="btn btn-danger" type="reset" value="Очистить" />
        </div>

</form>