<h2>Вы успешно вошли в систему</h2>
@if ((await AuthorizationService.AuthorizeAsync(User, "OnlyForHead")).Succeeded)
{
    <a class="btn btn-light"asp-action="Register" asp-controller = "Account">Добавить нового врача</a>
}
