@model FinalProject.Models.LoginModel
<br/>
<br/>
<h4 style="font-family: Verdana, Times, serif; color: #5C5A5A; margin-left: 1em;">Вход в систему</h4>
<div class="w-50 p-3">
<form class ="card p-3 bg-light" asp-action="Login" asp-controller="Account" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="col-sm-7">
            <label asp-for="PhoneNumber">Введите логин: </label>
            <input type="text" class="form-control" asp-for="PhoneNumber"/>
            <span asp-validation-for="PhoneNumber" />
        </div> <br/>
        <div class="col-sm-7">
            <label asp-for="Password">Введите пароль: </label>
            <input type="password" class="form-control" asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div class="col-sm-7">
            <br/>
            <input type="submit" value="Войти" class="btn btn-secondary" />
            <a class="btn btn-secondary" href="~/Home/Index">Назад</a>
        </div>
        </div>
</form>
</div>